<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:for each="{children_101}" as="record">

		<f:format.raw>
			{record.renderedContent}
		</f:format.raw>

	</f:for>

	<f:for each="{children_102}" as="record">

		<f:format.raw>
			{record.renderedContent}
		</f:format.raw>

	</f:for>

	<f:for each="{children_103}" as="record">

		<f:format.raw>
			{record.renderedContent}
		</f:format.raw>

	</f:for>
</html>
